@media (max-width:1000px) {
    .context,
    .search-tool,
    .image_group {
      position: relative;
      top:25%;
    }
    
  }

  @media (max-width:1000px) {
    .contex{
        line-height: 80px;
        font-size: 100px;

    }
    .scroll-container{
        bottom:570px !important;
    }
    .input-container{
        width: 525px !important;
    }
    .new_rect0{
       left:25% !important;
    }
    .rectangle{
      left:41% !important;
    }
    .row-white-box:hover .rectangle{
        left: 38% !important;
      }
      .eifel-tower{
        height: 485px !important;
      }
    .quote{
        top:195px !important;
    }
    .promote{
        top: 3% !important;

    }

    .reviews{
        line-height: 55px !important;
        left: 58% !important;
        top: 15% !important;
    }
    .about{
        left: 47% !important;
        top: 23% !important;
    }
       body{
        width: fit-content !important;
        margin-left:60px !important;
    }
    .background-container2{
        width: 50% !important;
    }
    .background-container{
        width: 50% !important;
    }
    .promotion{
        margin-left: 3rem !important;
        padding-left: 3rem !important;
    }
    .labore{
        font-size: 0px !important;
    }
    
  }
 
